<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction</title>
</head>
<body>
<h1>Hi, My Name Is Sierra Lovejoy 😊</h1>
<p>
    I am a Computer Science major with a minor in applied mathematics. I am currently 23 years old.
    I am in my Senior year and currently have an Associates in Engineering and am now pursuing a
    Bachelor's in computer science from Texas State. I plan to pursue a career in software development after graduating.
    My class year to graduate is Spring 2022. In the future I hope to create websites and applications that help people’s
    daily lives and to work on projects that add convenience and impact people in positive ways.My hobbies include
    gardening, cooking and putting together jigsaw puzzles.
</p>
</body>
</html>