<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction</title>
</head>
<body>
<p>
    I am a Computer Science major with a minor in applied mathematics. I am currently 23 years old and I work and go to
    school full time. I recently transferred to Texas State in the spring of 2020 and so far have really enjoyed the
    school environment. I am in my Senior year and currently have an Associates in Engineering and am now pursuing a
    Bachelor's in computer science from Texas State. I plan to pursue a career in software development after graduating
    and this award will make it easier for me to continue to pay for tuition. I have been attending the main campus in
    San Marcos in combination with online classes. The San Marcos Texas State campus has beautiful scenery. I have also
    been enjoying the classes a lot. Texas State has been a great experience for me so far and I am grateful for the
    resources and experiences that I have enjoyed here. This semester I will be taking some of my classes at the Round
    Rock campus, which is closer to where I live, in combination with some online classes. This will be my first time
    at the Round Rock campus and I am really excited to see what it looks like.

    My class year to graduate is Spring 2022. In the future I hope to create websites and applications that help people’s
    daily lives and to work on projects that add convenience and impact people in positive ways. While attending Texas
    State, I plan to continue learning new languages and to become more comfortable using different data structures and
    algorithms. I plan to utilize the skills and experiences that I gain at Texas State to help me achieve my career
    goals. With this award I will continue to push forward with my absolute best in all my academic pursuits.
</p>
</body>
</html>